body {
    background-color: azure;
}

ul {
    list-style-type:none; 
    text-align: center;
}

li {
    padding: 2px 0px;
}

input {
    margin-right: 5px;
}

#header {
    text-align: center;
}

form {
    text-align: center;
}
